body{
    margin: 0;
    padding: 0;
    font-family: "宋体";
    font-size: 12px;
    background: url(../images/wszw_bg.png) 33px 33px repeat-x #fe7a05;
}
a{
    font-size: 12px;
    cursor: pointer;
}
a:link{
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
}
a:hover {
    color: #a40000;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
}

.wszw_top{
    width: 100%;
    height: 33px;
    background: #FFB200;
    position: relative;
}
.wszw_topul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left:685px;
}
.wszw_topul li{
    margin-left: 20px;
    float: left;
   line-height: 30px;
}
.searchbox{
    width: 188px;
    height:27px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 960px;
    top: 2px;
}
.searchtext{
    height: 22px;
    width: 153px;
    border: 1px solid #FF980D;
    border-right: none;
    float: left;
}
.searchimg{
    float: left;
    width: 26px;
    *width: 24px;
    height: 26px;
}
.wszw_footer{
    width: 1012px;
    height: 257px;
    background: white;
    margin-left: 175px;
}
.wszw_footer_img{
    width: 1000px;
    height: 114px;
    border:1px solid #FDEAAF;
    margin-left: 5px;
}
.wszw_footer_img_title{
    height: 35px;
    width: 1000px;
    background: url("../images/wsjl_footerbg.png");
    font-size: 14px;
    color: #900000;
    line-height: 30px;
}
.wszw_footer_imgul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wszw_footer_imgul li{
    float: left;
    margin-left: 12px;
    _margin-left: 7px;
}
.wszw_footertext{
    margin-left: 5px;
    margin-top: 31px;
}
.wszw_footer_text1{
    width: 994px;
    height: 70px;
    text-align: center;
    line-height: 24px;
}

.wszw_header{
    width: 1251px;
    height: 150px;
    background: url("../images/wszwtopbg.jpg");
    margin-left:42px;
    text-align: center;
}
.wszw_titletext{
    position: relative;
    top:30px;
}
.wszw_header_line{
    position: relative;
    top: 50px;
}
.wszw_header_meau{
    position: relative;
    top:47px;
    color: #ffffff;
}
.wszw_header_meau a{
    display: inline-block;
height: 34px;
line-height: 34px;
margin-top: 4px;
padding: 0 16px;
    color: #ffffff;
    font-size: 16px;
    font-family: "微软雅黑";
}
.wszw_header_meau a:hover{
    background: #dd0000;
    text-decoration: none;
}

.main{
    width: 1012px;
    height: 1176px;
    background: #ffffff;
    margin-left: 175px;
}
.wszw_box1{
    width: 1001px;
    height: 266px;
    position: relative;
    left: 4px;
    top: 4px;
    background: url("../images/main_box1_bg.jpg");
    position: relative;
}
.main_box1_img1{
    position: relative;
    left: -17px;
}
.main_box1_imgul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 209px;
    top: 34px;
}
.main_box1_imgul li{
    background: url(../images/main_box1_img2.png) no-repeat;
    float: left;
    margin: 0px 5px;
    text-align: center;
    width: 151px;
    line-height: 20px;
}
.main_box1_imgul li:hover{
    background: url(../images/main_box1_img3.png) no-repeat;
}
.main_box1_imgul li a{
    font-size: 18px;
}
.main_box1_imgul li a:hover{
    text-decoration: none;
    color: #a30000;
}
.main_box1_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top:50px;
    left: 740px;
}
.main_box1_ul li{
    width: 208px;
    height: 20px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 5px;
    color: #333333;
}
.main_box1_ul li a:hover{
    color: #a40000;
    text-decoration: none;
}
.main_box1_title{
    color: #570000;
    font-size: 16px;
    position: absolute;
    left: 740px;
    top: 28px;
}
.main_box1_more{
    position: absolute;
    left: 940px;
    top: 28px;
}
.main_box1_date{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top:55px;
    left: 950px;
}
.main_box1_date li{
    width: 40px;
    height: 20px;
    margin-top: 5px;
    color: #333333;
}
.main_box2{
    height: 332px;
    width: 1006px;
    margin-left: 4px;
    margin-top: 10px;
    position: relative;
}
.main_box2_img1{
    width: 258px;
    height: 66px;
    background: url("../images/wszw_img1.jpg");
}
.main_box2_img2{
    width: 258px;
    height: 242px;
    position: relative;
    top:10px;
}
.main_box2_bscxtext{
    position: absolute;
    left: 43px;
    top: 80px;
    line-height: 35px;
}
.main_box2_inp1{
    border: 1px solid #dadada;
    width: 135px;
    height: 20px;
    position: absolute;
    left: 103px;
    top: 85px;
    z-index: 1;
}
.main_box2_inp2{
    width: 129px;
    height: 20px;
    position: absolute;
    left: 103px;
    top: 119px;
    border: 1px solid #dadada;
    z-index: 1;
}
.main_box2_inp3{
    width: 60px;
    height: 20px;
    position: absolute;
    left: 103px;
    top: 153px;
    border: 1px solid #dadada;
    z-index: 1;
}
.main_box2_botton {
    top: 190px;
    left: 100px;
    position: absolute;
    width: 44px;
    height: 26px;
    background-image: url("../images/ind_botton.jpg");
    cursor: pointer;
    font-weight: bold;
    line-height: 26px;
    color: #C80700;
    text-align: center;
    z-index: 1;
}
.main_box2_zt{
    width: 449px;
    height: 317px;
    border: 1px solid #eba86c;
    position: absolute;
    left: 265px;
    top:0px;
}
.main_box2_zttitle{
    width: 449px;
    height: 37px;
    background: url("../images/wszw_img3.jpg");
    color: #570000;
    font-size: 16px;
    line-height: 30px;
    font-family: "微软雅黑";
}
.listname{
    width: 425px;
    height: 22px;
    background: url("../images/wszw_img4.jpg") 0px 5px no-repeat;
    margin-top: 0px;
    margin-left: 10px;
}
.listname1{
    color: #d3820b;
    font-family: "宋体";
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    float: left;
    margin-left: 10px;
}
.listname a{
    color: #d3820b;
    line-height: 22px;
    float: right;
}
.listnameul{
    margin: 0;
    padding: 0;
    width: 425px;
    height: 45px;
    border: 1px dotted #ffa554;
    margin-left: 10px;
    list-style: none;
}
.listnameul li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.rmbs{
    width: 280px;
    height: 320px;
    position: absolute;
    top: 0;
    left: 723px;
    background: url("../images/wszw_img5.png");
}
.rmbsul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 32px;
    top: 36px;
}
.rmbsul li{
    width: 245px;
    height: 28px;
    overflow: hidden;
    line-height: 30px;
}

.main_box4{
    width: 1001px;
    height: 304px;
    border: 1px solid #fde087;
    margin-left: 4px;
    margin-top: 10px;
}
.main_box4ul1{
    margin: 0;
    padding: 0;
    width: 1001px;
    height: 35px;
    list-style: none;
    background: url("../images/wsjl_footerbg.png");
    border: 1px solid #fde087;
}
.main_box4ul1 li{
    float: left;
    width: 191px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    margin-left:10px;
}
.main_box4ul1 li:hover{
    border-left:1px solid #fde087;
    border-right:1px solid #fde087;
    background: #ffffff;
    color: #d3820b;
}
.main_box4ul2{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main_box4ul2 li{
    float: left;
    width: 175px;
    margin-left: 25px;
    margin-top: 8px;
}
.main_box3{
    width: 1001px;
    height: 241px;
    border:1px solid #e7964e;
    margin-left: 4px;
}
.main_box3title{
    width: 1001px;
    height: 37px;
    font-size: 14px;
    line-height: 30px;
    background: url("../images/wszw_img6.jpg");
}
.main_box3ul1{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fefcb9;
    width: 977px;
    height: 28px;
    border-bottom: 1px dotted #c0c0c0;
    margin-top: 6px;
    margin-left: 6px;
}
.main_box3ul1 li{
    float: left;
}
.main_box3ul1li1{
    width: 333px;
    height: 28px;
    border-left: 1px solid white;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
}
.main_box3ul1li2{
    width: 162px;
    height: 28px;
    border-left: 1px solid white;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
}
.main_box3ul1li3{
    width: 174px;
    height: 28px;
    border-left: 1px solid white;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
}
.main_box3ul1li4{
    width: 202px;
    height: 28px;
    border-left: 1px solid white;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
}
.main_box3ul1li5{
    width: 100px;
    height: 28px;
    border-left: 1px solid white;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
}
.main_box3ul2{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 977px;
    height: 28px;
    border-bottom: 1px dotted #c0c0c0;
    margin-left: 6px;
}
.main_box3ul2 li{
     float: left;
 }