.ind_content1{
    width: 1000px;
    height: 427px;
    /*border: 1px solid #000000;*/
    margin-left: 175px;
    background-color: #ffffff;
    position: relative;
}
.ind_content1_title{
    width: 745px;
    height: 60px;
    /*border: 1px solid #000000;*/
    color: #0661ab;
    font-size: 26px;
    font-weight: bold;
   font-family: "微软雅黑";
    text-align: center;
    line-height: 60px;
}

.ind_content1_title a{
    font-size: 26px;
}
.ind_content1_title a:hover{
    text-decoration: none;
    color: #0661ab;
}
.ind_content1_scrollimg{
    width: 327px;
    height: 266px;
    border: 1px solid #cccccc;
    position: relative;
}
.scrollimg{
    width: 321px;
    height: 233px;
    border: 1px solid #707070;
    position: absolute;
    left: 2px;
    top: 2px;
}
.scrollimg_num{
    list-style: none;
    width: 125px;
    height: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 203px;
    top: 224px;
    color: white;
}
.scrollimg_num li{
    width: 23px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    float: left;
    font-size: 10px;
    border-left: 1px solid #d0d0d0;
    background: rgba(86, 86, 86, 0.25);
    font-weight: bold;
}
.scrollimg_num li:hover{
    background: #c20000;
}

.scrollimg_text{
    height: 20px;
    width: 323px;
    background-color: #DADADA;
    position: absolute;
    text-align: center;
    font-weight: bold;
    left: 2px;
   top:237px;
}
.ind_content1_leftimg1{
    position: absolute;
    bottom: 0px;
    left: 10px;
}
.ind_content1_leftimg2{
    position: absolute;
    bottom: 0px;
    left: 165px;
}
.ind_content1_menu{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 330px;
}
.ind_content1_menu li{
    width: 79px;
    height: 43px;
    background-image: url("../images/ind_content1_menubg.jpg");
    float: left;
    color: #ffffff;
    line-height: 43px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.ind_content1_menu li:hover{
    background-image: url("../images/ind_content1_menubgho.jpg");
}
.ind_content1_secondmenu{
    margin: 0;
    padding: 0;
    /*list-style-image:url("../images/list_yellow.gif");*/
    list-style: none;
    position: absolute;
    /*border: 1px solid #000000;*/
    top: 33px;
    left: 3px;
    width: 400px;
    height: 286px;
    _top: 43px;
}
.ind_content1_secondmenu li{
    width: 400px;
    background-image: none;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    text-align: left;
    position: relative;
}
.ind_content1_secondmenutext1{
    font-size:15px;
    color: #000000;
}
.ind_content1_secondmenu li:hover{
    background-image: none;
}
.ind_content1data{
    position: absolute;
    color: rgb(153, 153, 153);
    font-size: small;
    top: 0;
    left: 368px;
    _margin-top:-15px;
}
.ind_content1_a{
    font-size:15px;
    color: #000000;
}
.ind_content1_a:hover{
    color: #ff0000;
}
.ind_content1_more{
    font-size: 15px;
    position: absolute;
    left: 698px;
    top: 375px;
}
.ind_content1_right{
    height:420px;
    width: 250px;
    border-left:1px solid #c0bcbd;
    position: absolute;
    left: 745px;
    top:7px;
}
.ind_content1_rightimg1{
    position: absolute;
    left: 10px;
}
.ind_content1_rightimg2{
    position: absolute;
    left: 10px;
    top: 156px;
}
.ind_content1_rightimg3{
    position: absolute;
    left: 11px;
    top: 328px;
}
.ind_content1_rightimg4{
    position: absolute;
    left: 10px;
    top: 373px;
}
/*<!--index content1 end-->*/

/*<!--index content2-->*/
.ind_content2{
    width: 1000px;
    height: 100px;
    background: white;
    margin-left: 175px;
    /*border: 1px solid #000000;*/
    position: relative;
}
.ind_content2_title{
    width: 1000px;
    height: 26px;
    border-bottom:1px solid #c0bcbd;
}
.ind_content2_title1{
    position: absolute;
    left: 0;
    top:0;
}
.ind_content2_title2{
    position: absolute;
    border-left: 1px solid #c0bcbd;
    left: 335px;
    top:0;
}
.ind_content2_title3{
    position: absolute;
    border-left: 1px solid #c0bcbd;
    left: 669px;
    top:0;
}
.ind_content2_more1{
    position: absolute;
    left: 290px;
    top: 5px;
    color: rgb(153, 153, 153);
}
.ind_content2_more1:hover{
    color: rgb(153, 153, 153);
}
.ind_content2_more2{
    position: absolute;
    left: 624px;
    top: 5px;
    color: rgb(153, 153, 153);
}
.ind_content2_more2:hover{
    color: rgb(153, 153, 153);
}
.ind_content2_more3{
    position: absolute;
    left: 958px;
    top: 5px;
    color: rgb(153, 153, 153);
}
.ind_content2_more3:hover{
    color: rgb(153, 153, 153);
}
.ind_content2_ul1{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 22px;
    top:30px;
    left: 10px;

}
.ind_content2_ul1 li{
    _padding: 3px 0;
}
.ind_content2_ul2{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 22px;
    top:30px;
    left: 344px;
}
.ind_content2_ul2 li{
    _padding: 3px 0;
}
.ind_content2_ul3{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 22px;
    top:30px;
    left: 672px;
    font-weight: bold;
    color: rgb(213, 60, 0);
}
.ind_content2_ul3 li{
    _padding: 3px 0;
}
.ind_content2_ul3 a:hover{
    color: rgb(213, 60, 0);
}
.ind_content2_ul4{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 22px;
    top:30px;
    left: 878px;
    color: rgb(213, 60, 0);
    font-weight: bold;
}
.ind_content2_ul4 li{
    _padding: 3px 0;
}
.ind_content2_ul4 a:hover{
    color: rgb(213, 60, 0);
}

.ind_content3{
    width: 1000px;
    height: 454px;
    margin-left: 175px;
    /*background: url("../images/ind_zwgk.png");*/
    background: white;
    position: relative;
    /*border: 1px solid #000000;*/
}
.ind_zwgk_bgtop{
    width:1000px;
    height: 52px;
    /*border: 1px solid #000000;*/
}
.ind_zwgk_bgtop1{
    width: 530px;
    height: 52px;
    background: url("../images/ind_zwgk_bg1.png");
    float: left;
}
.ind_zwgk_bgtop2{
    width: 443px;
    height: 52px;
    background: url("../images/ind_zwgk_bg2.png");
    float: left;
}
.ind_zwgk_bgtop3{
    width: 27px;
    height: 52px;
    background: url("../images/ind_zwgk_bg3.png");
    float: left;
}
.ind_zwgk_bottom{
    width: 1000px;
    height: 402px;
    background: red;
}
.ind_zwgk_bgleft{
    width: 6px;
    height: 99px;
    background: url("../images/ind_zwgk_bgleft.png");
    float: left;
}
.ind_zwgk_bgmid{
    width: 970px;
    height: 396px;
    border: 1px solid #ff9f00;
    border-top: none;
    float: left;
}
.ind_zwgk_bgright{
    width: 22px;
    height: 102px;
    background: url("../images/ind_zwgk_bgright.png");
    float: left;
}
.ind_touming{
    width: 133px;
    height: 40px;
    position: absolute;
    left: 13px;
    top:3px;
}
.ind_content3_title1{
    width: 238px;
    height: 30px;
    border-bottom: 1px solid #e99369;
    color:rgb(189, 5, 0);
    font-weight: bold;
    position: absolute;
    line-height: 30px;
    top:45px;
    left: 14px;
}
.ind_content3_title1 a:hover{
    color:rgb(189, 5, 0);
}
.ind_content3_title2{
    width: 238px;
    height: 30px;
    border-bottom: 1px solid #e99369;
    color:rgb(189, 5, 0);
    font-weight: bold;
    position: absolute;
    line-height: 30px;
    top:45px;
    left: 255px;
}
.ind_content3_title2 a:hover{
    color:rgb(189, 5, 0);
}
.ind_content3_title3{
    width: 238px;
    height: 30px;
    border-bottom: 1px solid #e99369;
    color:rgb(189, 5, 0);
    font-weight: bold;
    position: absolute;
    line-height: 30px;
    top:209px;
    left: 14px;
}
.ind_content3_title3 a:hover{
    color:rgb(189, 5, 0);
}
.ind_content3_title4{
    width: 238px;
    height: 30px;
    border-bottom: 1px solid #e99369;
    color:rgb(189, 5, 0);
    font-weight: bold;
    position: absolute;
    line-height: 30px;
    top:209px;
    left: 255px;
}
.ind_content3_title4 a:hover{
    color:rgb(189, 5, 0);
}
.ind_yzm{
    top:554px;
    left: 172px;
    position: absolute;
}
.ind_botton{
    top:590px;
    left: 100px;
    position: absolute;
    width: 44px;
    height: 26px;
    background-image: url("../images/ind_botton.jpg");
    cursor: pointer;
    font-weight: bold;
    line-height: 26px;
    color: #C80700;
    text-align: center;
}
.ind_content3_ul1{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 16px;
    top: 83px;
    line-height: 23px;
}
.ind_content3_ul1 li{
    _padding: 3px 0;
}
.ind_content3_ul2{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 257px;
    top: 83px;
    line-height: 23px;
}
.ind_content3_ul2 li{
    _padding: 3px 0;
}
.ind_content3_ul3{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 16px;
    top: 248px;
    line-height: 23px;
}
.ind_content3_ul3 li{
    _padding: 3px 0;
}
.ind_content3_ul4{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 257px;
    top: 248px;
    line-height: 23px;
}
.ind_content3_ul4 li{
    _padding: 3px 0;
}
.ind_content3_ul5{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 507px;
    top: 65px;
    line-height: 23px;
}
.ind_content3_ul5 li{
    _padding: 3px 0;
}
.ind_content3_ul6{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 580px;
    top: 65px;
    line-height: 23px;
}
.ind_content3_ul6 li{
    _padding: 3px 0;
}
.ind_content3_ul7{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 678px;
    top: 65px;
    line-height: 23px;
}
.ind_content3_ul7 li{
    _padding: 3px 0;
}
.ind_content3_li1{
    list-style: none;
    position: absolute;
    left: 630px;
    top:160px;
    _top:157px;
}
.ind_content3_guide{
    position: absolute;
    left: 505px;
    top:210px;
}
.ind_content3_footer{
    position: absolute;
    top: 315px;
    left: 18px;
}
.ind_content3_rightimg{
   width: 217px;
    height: 370px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 750px;
    top: 75px;
}
.ind_content3_img1{
     width: 203px;
     height: 53px;
     margin-left: 7px;
    _margin-top:-3px;
}
.ind_content3_img2{
    margin-left: 7px;
}
.ind_content3_img3{
    margin-left: 3px;
}
.ind_zwgk_xxgklbg1{
    width: 217px;
    height: 69px;
    border: 1px solid #e8936a;
    border-bottom:none ;
    position: absolute;
    left: 751px;
    top:54px;
    font-weight: bold;
   line-height: 20px;
    letter-spacing: 3px;
    color: #d30100;
}
.ind_zwgk_xxgklbg2{
    width: 219px;
    height: 113px;
    position: absolute;
    left: 751px;
    top:123px;
}
.ind_zwgk_xxgklbgleft{
    float: left;
}
.ind_zwgk_xxgklbgright{
    float: right;
}
.ind_content4{
    width: 1000px;
    height: 651px;
    margin-left: 175px;
    /*background: url("../images/ind_bsfw_bg.png");*/
    background:#ffffff;
    position: relative;
}
.ind_bsfw_top{
    width: 1000px;
    height: 64px;
}
.ind_bsfw_top1{
    width: 538px;
    height: 64px;
    background: url("../images/ind_bsfw_bg1.png");
    float: left;
}
.ind_bsfw_top2{
    background: url("../images/ind_bsfw_bg2.png");
    height: 64px;
    width: 440px;
    float: left;
}
.ind_bsfw_top3{
    background: url("../images/ind_bsfw_bg3.png");
    width: 22px;
    height: 64px;
    float: left;
}
.ind_bsfw_bottom{
    width: 1000px;
    height: 587px;
}
.ind_bsfw_left{
    width: 7px;
    height: 85px;
    background: url("../images/ind_bsfw_bgleft.png");
    float: left;
}
.ind_bsfw_mid {
    width: 970px;
    height: 580px;
    border: 1px solid #ff9c00;
    border-top: none;
    float: left;
}
.ind_bsfw_right{
    background: url("../images/ind_bsfw_bgright.png");
    width: 21px;
    height: 81px;
    float: left;
}
.ind_bsfw_wsfw{
    width: 651px;
    height: 317px;
    border: 1px solid #e7964e;
    background: url("../images/ind_bsfw_wsfw.png") no-repeat;
    margin-left: 15px;
    _margin-left: 10px;
    float: left;
}
.ind_bsfw_rmbs{
    border: 1px solid #e7964e;
    width: 277px;
    height: 318px;
    float: left;
    background: url("../images/ind_bsfw_rmbs.png") no-repeat;
    margin-left: 8px;
}
.ind_bsfw_rmbs1{
    border: 1px solid #e7964e;
    width: 277px;
    height: 318px;
    background: url("../images/ind_bsfw_rmbs.png") no-repeat;
    position: absolute;
    left: 727px;
    top:0px;
}
.ind_bsfw_bscx{
    width: 256px;
    height: 240px;
    border: 1px solid #e7964e;
    float: left;
    margin-left: 15px;
    _margin-left: 10px;
    margin-top: 9px;
}
.ind_bsfw_bscx1{
    width: 256px;
    height: 240px;
    border: 1px solid #e7964e;
  position: absolute;
    left: 4px;
    top:78px;
}
.ind_bsfw_bscxtitle{
    width: 256px;
    height: 73px;
    border-bottom: 1px solid #d68c1f;
    background: url("../images/ind_bsfw_bscxbg.png");
    position: relative;
}
.ind_bsfw_bscxtitle1{
    width: 120px;
    height: 32px;
    background:url("../images/ind_bsfw_bscxtitle.jpg");
    position: absolute;
    bottom: -1px;
    _bottom: -2px;
    left: 10px;
    _left: 5px;
}
.ind_bsfw_bsjg{
    width: 674px;
    height: 241px;
    border: 1px solid #d68c1f;
    float: left;
    margin-left: 8px;
    margin-top: 9px;
}
.ind_bsfw_bsjgtitle{
    width: 674px;
    height: 34px;
    background: url("../images/ind_bsfw_bsjgtitle.png");
    border-bottom: 1px solid #d68c1f;
}
.ind_bsfw_bsjgtitleimg{
    margin-left: 16px;
    margin-top: 7px;
}
.ind_content4_title1{
   font-size: 16px;
    color: #570000;
    position: absolute;
    left: 700px;
    top:70px;
}
.ind_content4_title11{
    font-size: 16px;
    color: #570000;
    position: absolute;
    left: 748px;
    top:8px;
}
.ind_content4_title2{
    font-size: 16px;
    color: #570000;
    position: absolute;
    left: 80px;
    top:405px;
}
.ind_content4_title21{
    font-size: 16px;
    color: #570000;
    position: absolute;
    left: 62px;
    top:93px;
}
.ind_content4_title3{
    font-size: 14px;
    color: #570000;
    position: absolute;
    left: 300px;
    top:403px;
}
.ind_content4_title4{
    font-size: 14px;
    color: #8c480c;
    font-weight: bold;
    position: absolute;
    left: 37px;
    top:445px;
    font-family: "微软雅黑";
}
.ind_content4_title41{
    font-size: 14px;
    color: #8c480c;
    font-weight: bold;
    position: absolute;
    left: 22px;
    _left: 17px;
    top:128px;
    font-family: "微软雅黑";
}
.ind_content4_ul1{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 37px;
    /*position: absolute;*/
    /*left: 715px;*/
    /*top:103px;*/
}
.ind_content4_ul1 li{
    width: 277px;
    height: 27px;
    overflow: hidden;
    font-size: 12px;
    color: #333333;
   line-height: 28px;
    border-bottom:1px solid #fae5ad;
}
.ind_content4_ul1 li a{
    text-decoration: none;
}
.ind_content4_ul1_li1{
    background: #fdfedc;
}
.ind_content4_ul1num{
    position: relative;
    top: 6px;
}
.ind_content4_bscxtext{
    position: absolute;
    left: 43px;
    top: 480px;
    line-height: 35px;
}
.ind_content4_inp1{
    border: 1px solid #dadada;
    width: 135px;
    height: 20px;
    position: absolute;
    left: 103px;
    top: 485px;
}
.ind_content4_inp2{
    width: 129px;
    height: 20px;
    position: absolute;
    left: 103px;
    top: 519px;
    border: 1px solid #dadada;
}
.ind_content4_inp3{
    width: 60px;
    height: 20px;
    position: absolute;
    left: 103px;
    top: 553px;
    border: 1px solid #dadada;
}
.ind_content4_ul2{
    list-style: none;
    position: absolute;
    top:420px;
    left: 257px;
    *top:432px;
}
.ind_content4_ul2 li{
    width: 226px;
    height: 28px;
    border-bottom: 1px dotted #ebe7dd;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}
.ind_content4_ul2li{
    background-color:#fefcb9;
    border-left:1px solid white;
}
.ind_content4_ul3{
    list-style: none;
    position: absolute;
    top:420px;
    left: 483px;
    *top:432px;
}
.ind_content4_ul3 li{
    width: 112px;
    height: 28px;
    border-bottom: 1px dotted #ebe7dd;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}
.ind_content4_ul4{
    list-style: none;
    position: absolute;
    top:420px;
    left: 595px;
    *top:432px;
}
.ind_content4_ul4 li{
    width: 111px;
    height: 28px;
    border-bottom: 1px dotted #ebe7dd;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}
.ind_content4_ul5{
    list-style: none;
    position: absolute;
    top:420px;
    left:706px;
    *top:432px;
}
.ind_content4_ul5 li{
    width: 151px;
    height: 28px;
    border-bottom: 1px dotted #ebe7dd;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}
.ind_content4_ul6{
    list-style: none;
    position: absolute;
    top:420px;
    left: 856px;
    *top:432px;
}
.ind_content4_ul6 li{
    width: 60px;
    height: 28px;
    border-bottom: 1px dotted #ebe7dd;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}
.ind_content4_img{
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    left: 28px;
    top: 160px;
}
.ind_content4_img li{
    float: left;
    width: 155px;
    margin: 0 3px;
    background: url("../images/index_05.jpg") no-repeat;
    text-align: center;
}
.ind_content4_img li:hover{
    background: url("../images/index_06.png") no-repeat;
}
.ind_content4_img li a{
    color: #333;
    font-size: 18px;
    line-height: 54px;
}
.ind_content4_img li:hover a{
    text-decoration: none;
    cursor: pointer;
    color: #8c0000;
}

/*<!--index content5-->*/
.ind_content5{
    width: 1000px;
    height: 97px;
    margin-left: 175px;
    /*background-image: url("../images/index_content5bg.png");*/
    position: relative;
}
.ind_zt_left{
    width: 10px;
    height: 97px;
    background: url("../images/ind_ztleft.png");
    float: left;
}
.ind_zt_mid{
    width: 982px;
    height: 97px;
    background: url("../images/ind_ztmid.png");
    float: left;
}
.ind_zt_right{
    width: 8px;
    height: 97px;
    background: url("../images/ind_ztright.png");
    float: left;
}
.ind_content5_imgul{
    list-style: none;
    margin: 0;
    padding: 0;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 48px;
    top:20px;
}
.ind_content5_imgul li{
    float: left;
    margin: 0 2px;
}
.ind_content5_text1{
    width: 20px;
    height: 72px;
    background: #fc8800;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 14px;
    top: 14px;
}
.ind_content5_text2{
    width: 20px;
    height: 72px;
    background: #fc8800;
    line-height: 65px;
    text-align: center;
    position: absolute;
    left: 969px;
    top: 14px;
}
/*<!--index content5 end-->*/

/*<!--index content6-->*/
.ind_content6{
    width: 1000px;
    height: 622px;
    /*background: url("../images/index_content6bg.png");*/
    background: white;
    /*background: greenyellow;*/
    margin-left: 175px;
    position: relative;
}
/*广西东盟*/
.ind_gxdm{
    width: 324px;
    height: 295px;
    position: absolute;
    left: 2px;
    top: 16px;
}
.ind_gxdmleft{
    width: 3px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmleft.png");
}
.ind_gxdmmid{
    width: 317px;
    height: 295px;
    float: left;
    /*background: url("../images/ind_gxdmleft.png") 0 0;*/
}
.ind_gxdmmid_top{
    width: 317px;
    height: 50px;
    background: url("../images/ind_gxdmmid.png") 0 0;
}
.ind_gxdmmid_bottom{
    width: 315px;
    height: 244px;
    border: 1px solid #c58700;
    border-top: none;
}
.ind_gxdmright{
    width: 4px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmright.png");
}
/*广西东盟 enf*/

/*<!--投资广西-->*/
.ind_tzgx{
    width: 320px;
    height: 275px;
    position: absolute;
    left: 340px;
    top: 16px;
    /*border: 1px solid #000000;*/
}
.ind_tzgxleft{
    width: 3px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmleft.png");
}
.ind_tzgxmid{
    width: 313px;
    height: 275px;
    float: left;
    /*background: url("../images/ind_gxdmleft.png") 0 0;*/
}
.ind_tzgxmid_top{
    width: 313px;
    height: 50px;
    background: url("../images/ind_gxdmmid.png") 0 -50px;
}
.ind_tzgxmid_bottom{
    width: 311px;
    height: 224px;
    border: 1px solid #c58700;
    border-top: none;
}
.ind_tzgxright{
    width: 4px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmright.png");
}

/*<!--投资广西 end-->*/
/*广西北部湾*/
.ind_bbw{
    width: 324px;
    height: 295px;
    position: absolute;
    left: 672px;
    top: 16px;
    /*border: 1px solid #000000;*/
}
.ind_bbwleft{
    width: 3px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmleft.png");
}
.ind_bbwmid{
    width: 317px;
    height: 295px;
    float: left;
    /*background: url("../images/ind_gxdmleft.png") 0 0;*/
}
.ind_bbwmid_top{
    width: 317px;
    height: 50px;
    background: url("../images/ind_gxdmmid.png") 0 -100px;
}
.ind_bbwmid_bottom{
    width: 315px;
    height: 224px;
    border: 1px solid #c58700;
    border-top: none;
}
.ind_bbwright{
    width: 4px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmright.png");
}
/*广西北部湾 end*/

/*旅游广西*/
.ind_lygx{
    width: 324px;
    height: 295px;
    position: absolute;
    left: 2px;
    top: 320px;
}
.ind_lygxleft{
    width: 3px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmleft.png");
}
.ind_lygxmid{
    width: 317px;
    height: 295px;
    float: left;
    /*background: url("../images/ind_gxdmleft.png") 0 0;*/
}
.ind_lygxmid_top{
    width: 317px;
    height: 113px;
    background: url("../images/ind_gxdmmid.png") 0 -247px;
}
.ind_lygxmid_bottom{
    width: 315px;
    height: 182px;
    border: 1px solid #c58700;
    border-top: none;
}
.ind_lygxright{
    width: 4px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmright.png");
}
/*旅游广西 end*/
/*<!--经济运行-->*/
.ind_jjyx{
    width: 323px;
    height: 299px;
    position: absolute;
    left: 340px;
    top: 299px;
}
.ind_jjyxleft{
    width: 3px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmleft.png");
}
.ind_jjyxmid{
    width: 316px;
    height: 299px;
    float: left;
    /*background: url("../images/ind_gxdmleft.png") 0 0;*/
}
.ind_jjyxmid_top{
    width: 316px;
    height: 47px;
    background: url("../images/ind_gxdmmid.png") 0 -150px;
}
.ind_jjyxmid_bottom{
    width: 314px;
    height: 248px;
    border: 1px solid #c58700;
    border-top: none;
}
.ind_jjyxright{
    width: 4px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmright.png");
}
/*<!--经济运行 end-->*/
/*<!--广西金融-->*/
.ind_gxjr{
    width: 323px;
    height: 299px;
    position: absolute;
    left: 673px;
    top: 299px;
}
.ind_gxjrleft{
    width: 3px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmleft.png");
}
.ind_gxjrmid{
    width: 316px;
    height: 299px;
    float: left;
    /*background: url("../images/ind_gxdmleft.png") 0 0;*/
}
.ind_gxjrmid_top{
    width: 316px;
    height: 47px;
    background: url("../images/ind_gxdmmid.png") 0 -150px;
}
.ind_gxjrmid_bottom{
    width: 314px;
    height: 248px;
    border: 1px solid #c58700;
    border-top: none;
}
.ind_gxjrright{
    width: 4px;
    height: 135px;
    float: left;
    background: url("../images/ind_gxdmright.png");
}
/*<!--广西金融 end-->*/
.ind_content6ul1{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    line-height: 26px;
    left: 15px;
    top: 66px;
    width: 300px;
    overflow: hidden;
}
.ind_content6ul1 li{
    height: 25px;
}
.ind_content6ul2{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    line-height: 25px;
    left: 362px;
    top: 95px;
    width: 286px;
    overflow: hidden;
}
.ind_content6ul2 li{
    height: 25px;
}
.ind_content6ul3{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    line-height: 32px;
    *line-height: 28px;
    left:775px;
    top: 61px;
    width: 210px;
    overflow: hidden;
}
.ind_content6ul3 li{
    height: 25px;
}
.ind_content6ul4{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    line-height: 26px;
    left:98px;
    top: 430px;
    width: 210px;
    overflow: hidden;
}
.ind_content6ul4 li{
    height: 25px;
}
.ind_content6ul5{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    line-height: 26px;
    left:98px;
    top: 538px;
    width: 210px;
    overflow: hidden;
}
.ind_content6ul5 li{
    height: 25px;
}
.ind_content6ul6{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    line-height: 26px;
    left:353px;
    top: 338px;
    width: 305px;
    overflow: hidden;
}
.ind_content6ul6 li{
    height: 25px;
}
.ind_content6ul7{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    line-height: 26px;
    left:683px;
    top: 435px;
    width: 305px;
    overflow: hidden;
}
.ind_content6ul7 li{
    height: 25px;
}
.ind_content6_img1{
    width: 76px;
    height:57px;
    padding: 1px;
    border:1px solid #f7f7f7;
    position: absolute;
    left: 683px;
    top: 68px;
}
.ind_content6_img2{
    width: 76px;
    height:57px;
    padding: 1px;
    border:1px solid #f7f7f7;
    position: absolute;
    left: 683px;
    top: 132px;
}
.ind_content6_img3{
    width: 76px;
    height:57px;
    padding: 1px;
    border:1px solid #f7f7f7;
    position: absolute;
    left: 683px;
    top: 206px;
}
.ind_content6_img4{
    width: 76px;
    height:57px;
    padding: 1px;
    border:1px solid #f7f7f7;
    position: absolute;
    left: 11px;
    top: 435px;
}
.ind_content6_img5{
    width: 76px;
    height:57px;
    padding: 1px;
    border:1px solid #f7f7f7;
    position: absolute;
    left: 11px;
    top: 545px;
}
.ind_content6_img6{
    width: 114px;
    height:88px;
    position: absolute;
    left: 683px;
    top: 345px;
}
.ind_content6_text{
    width: 188px;
    height: 80px;
    position: absolute;
    left: 800px;
    top: 345px;
    line-height: 18px;
}
.ind_content6_tex2{
    color: #ff0000;
}
.ind_content6_titleul{
    list-style: none;
    position: absolute;
    left: 356px;
    top: 57px;
    width: 293px;
    height: 25px;
    border-bottom: 1px solid #c0c0c0;
}
.ind_content6_titleul li{
    float: left;
    margin:0 3px;
    background: #b1c894;
    line-height: 25px;
    width: 70px;
    height: 24px;
    border: 1px solid #83af46;
    border-bottom: none;

    text-align: center;
    color: #f5f5f5;
}
.ind_content6_titleul li:hover{
    background: white;
    height: 25px;
    color: #bb913f;
    font-weight: bold;
    border: 1px solid #c0c0c0;
    border-bottom: none;
}
.ind_touming1{
    width: 295px;
    height: 40px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 12px;
    top: 16px;
}
.ind_touming2{
    width: 295px;
    height: 40px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 350px;
    top: 16px;
}
.ind_touming3{
    width: 295px;
    height: 40px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 680px;
    top: 16px;
}
.ind_touming4{
    width: 295px;
    height: 40px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 350px;
    top: 300px;
}
.ind_touming5{
    width: 295px;
    height: 40px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 680px;
    top: 300px;
}
/*<!--index content6 end-->*/
/*<!--index content7-->*/
.ind_content7{
    width: 1000px;
    height: 77px;
    margin-left: 175px;
    background: white;
}
.ind_content7_imgul{
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 77px;
    list-style: none;
}
.ind_content7_imgul li{
    width: 186px;
    height: 60px;
    margin-left: 10px;
    margin-top: 16px;
    float: left;
}
.ind_content7_img{
    width: 186px;
    height: 60px;
}
/*<!--index content7 end-->*/

.ind_content8{
    width: 1000px;
    height: 44px;
    margin-left: 175px;
    background: white;
}
.ind_content8_ul{
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 44px;
    list-style: none;
}
.ind_content8_ul li{
    width: 139px;
    height: 21px;
    margin:0 12px;
    margin-top: 15px;
    float: left;
}
.ind_content8_chose{
    width: 139px;
    height: 21px;
}
/*index*/


/*广西概况*/
.gk{
    width: 1000px;
    height: 814px;
    margin-left: 175px;
    background: white;
    position: relative;
}
.gk_bg1{
   width: 723px;
    height: 283px;
    position: absolute;
    left: 6px;
    top: 6px;
    background: url("../images/gk_bg01.jpg");
}
.gk_bg2{
    width: 255px;
    height: 286px;
    /*background: url("../images/gk_bg02.png");*/
    /*background-color:greenyellow ;*/
    position: absolute;
    left: 743px;
    top: 6px;
}
.gk_bg2_top{
    background: url("../images/gk_bg2top.png");
    width: 255px;
    height: 50px;
}
.gk_bg2_bottom{
   width: 255px;
    height: 236px;
    float: left;
}
.gk_bg2_left{
    background: url("../images/gk_bg2left.png");
    width: 5px;
    height: 232px;
    float: left;
}
.gk_bg2_right{
    background: url("../images/gk_bg2right.png");
    width: 6px;
    height: 232px;
    float: left;
}
.gk_bg2_mid{
    /*background: url("../images/gk_bg2right.png");*/
    width: 242px;
    height: 232px;
    border:1px solid #d7bc61;
    border-top: none;
    float: left;
}

.gk_bg2_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
}
.gk_bg2_ul li{
    margin-top: 8px;
}
.gk_bg3{
    position: absolute;
    /*background: url("../images/gk_bg03.png");*/
    /*background-color:greenyellow ;*/
    width: 360px;
    height: 284px;
    left: 6px;
    top: 295px;
}
.gk_bg3_top{
    background: url("../images/gk_bg3top.png");
    width: 360px;
    height: 40px;
}
.gk_bg3_bottom1{
    /*background: url("../images/gk_bg3top.png");*/
    width: 360px;
    height: 244px;
}
.gk_bg3_left{
    background: url("../images/gk_bg3left.png");
   width: 4px;
    height: 244px;
    float: left;
}

.gk_bg3_bottom{
    background: url("../images/gk_bg3bottom.png");
   width: 352px;
    height: 5px;
}
.gk_bg3_mid1{
    width: 352px;
    height: 244px;
    float: left;
}
.gk_bg3_mid{
    width: 352px;
    height: 239px;
}
.gk_bg3_right{
    background: url("../images/gk_bg3right.png");
    width: 4px;
    height: 244px;
    float: left;
}

.gk_bg4{
    position: absolute;
    /*background: url("../images/gk_bg03.png");*/
    /*background-color:greenyellow ;*/
    width: 359px;
    height: 284px;
    left: 375px;
    top: 295px;
}
/*bg4*/
.gk_bg4_top{
    background: url("../images/gk_bg4top.png");
    width: 360px;
    height: 40px;
}
.gk_bg4_bottom1{
    /*background: url("../images/gk_bg3top.png");*/
    width: 360px;
    height: 244px;
}
.gk_bg4_left{
    background: url("../images/gk_bg3left.png");
    width: 4px;
    height: 244px;
    float: left;
}

.gk_bg4_bottom{
    background: url("../images/gk_bg4bottom.png");
    width: 352px;
    height: 5px;
}
.gk_bg4_mid1{
    width: 352px;
    height: 244px;
    float: left;
}
.gk_bg4_mid{
    width: 352px;
    height: 239px;
}
.gk_bg4_right{
    background: url("../images/gk_bg3right.png");
    width: 4px;
    height: 244px;
    float: left;
}

/*bg4 end*/
.gk_bg3_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top:46px;
    left: 11px;
}
.gk_bg3_ul li{
    width: 330px;
    height: 23px;
    overflow: hidden;
}
.gk_more{
    position: absolute;
    right: 10px;
    bottom: 26px;
}
.gk_bg5{
    position: absolute;
    /*background: url("../images/gk_bg05.png");*/
    /*background-color:greenyellow ;*/
    width: 258px;
    height: 278px;
    left: 738px;
    top: 295px;
}
.gk_bg5_top{
    background: url("../images/gk_bg5top.png");
   width: 258px;
    height: 44px;
}
.gk_bg5_bottom1{
    /*background: url("../images/gk_bg3top.png");*/
    width: 258px;
    height: 237px;
}
.gk_bg5_left{
    background: url("../images/gk_bg5left.png");
    width: 6px;
    height: 234px;
    float: left;
}

.gk_bg5_bottom{
    background: url("../images/gk_bg5bottom.png");
    width: 245px;
    height: 6px;
}
.gk_bg5_mid1{
    width: 245px;
    height: 234px;
    float: left;
}
.gk_bg5_mid{
    width: 245px;
    height: 228px;
}
.gk_bg5_right{
    background: url("../images/gk_bg5right.png");
    height: 234px;
   width: 7px;
    float: left;
}
.gk_bg5_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top:46px;
    left: 11px;
}
.gk_bg5_ul li{
    width: 225px;
    height: 23px;
    overflow: hidden;
}
.gk_more2{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.gk_bg7{
    position: absolute;
    /*background: url("../images/gk_bg07.png");*/
    width: 360px;
    height: 206px;
    left: 7px;
    top: 590px;
}
.gk_bg7_top{
    background: url("../images/gk_bg7top.png");
    width: 360px;
    height: 43px;
}
.gk_bg7_bottom1{
    /*background: url("../images/gk_bg3top.png");*/
    width: 360px;
    height: 163px;
}
.gk_bg7_left{
    background: url("../images/gk_bg7left.png");
    width: 4px;
    height: 163px;
    float: left;
}

.gk_bg7_bottom{
    background: url("../images/gk_bg7bottom.png");
   width: 352px;
    height: 7px;
}
.gk_bg7_mid1{
    width: 352px;
    height: 163px;
    float: left;
}
.gk_bg7_mid{
    width:352px;
    height: 156px;
}
.gk_bg7_right{
    background: url("../images/gk_bg7right.png");
    width: 4px;
    height: 163px;
    float: left;
}
.gk_bg7_ul1{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 51px;
}
.gk_bg7_ul1 li {
    width: 57px;
    height: 63px;
    line-height: 16px;
    /*border: 1px solid #000000;*/

    text-align: center;
    margin-left: 11px;
    float: left;
}
.gk_bg7_ul2{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 130px;
}
.gk_bg7_ul2 li {
    width: 57px;
    height: 63px;
    line-height: 16px;
    /*border: 1px solid #000000;*/
    text-align: center;
    margin-left: 11px;
    float: left;
}
.gk_bg8{
    position: absolute;
    /*background: url("../images/gk_bg08.png");*/
    /*background-color:greenyellow ;*/
    width: 359px;
    height: 208px;
    left: 375px;
    top: 590px;
}
.gk_bg8_top{
    background: url("../images/gk_bg8top.png");
   width: 359px;
    height: 42px;
}
.gk_bg8_bottom1{
    /*background: url("../images/gk_bg3top.png");*/
    width: 359px;
    height: 165px;
}
.gk_bg8_left{
    background: url("../images/gk_bg8left.png");
    width: 4px;
    height: 165px;
    float: left;
}

.gk_bg8_bottom{
    background: url("../images/gk_bg8bottom.png");
    width: 351px;
    height: 7px;
}
.gk_bg8_mid1{
    width: 351px;
    height: 165px;
    float: left;
}
.gk_bg8_mid{
    width:351px;
    height: 158px;
}
.gk_bg8_right{
    background: url("../images/gk_bg8right.png");
  width: 4px;
    height: 165px;
    float: left;
}
.gk_bg8_ul1{
    padding: 0;
    margin: 0;
    /*list-style-image: url("../images/list_img.jpg");*/
    /*background-color:greenyellow ;*/
    list-style: none;
    position: absolute;
    top: 50px;
    left: 10px;

}
.gk_bg8_ul1 li{
    float: left;
    /*margin-left: 10px;*/
    width: 100px;
    _width: 116px;
    height: 29px;
    _height: 25px;
}

.gk_bg9{
    position: absolute;
    /*background: url("../images/gk_bg09.png");*/
    background-color:greenyellow ;
    width: 259px;
    height: 194px;
    left: 738px;
    top: 590px;
}
.gk_bg9_top{
    background: url("../images/gk_bg9top.png");
    width: 259px;
    height: 12px;
}
.gk_bg9_mid{
    background: #dedede;
    width: 259px;
    height: 170px;
}
.gk_bg9_bottom{
    background: url("../images/gk_bg9bottom.png");
    width: 259px;
    height: 12px;
    _height:6px;
}
.gk_bg9_img{
    margin-left:10px;
    /*margin-top: 12px;*/
}

/*广西旅游*/
.lv{
    width: 1000px;
    height: 300px;
    position: relative;
    margin-left: 175px;
    background: #ffffff;
}
.lvimg{
    position: absolute;
    width: 980px;
    height: 297px;
    left:5px;
    top:6px;
    border: 1px solid #e6e6e6;
    background: #f8f8f8;
}
.lv_img1{
    height: 276px;
    width: 761px;
    position: absolute;
    left: 10px;
    top:10px;
}
.lv_img1_text{
    width: 761px;
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background: rgba(162, 162, 162, 0.51);
    line-height: 33px;
}
.lv_img1_text1{
    padding: 0 0 0 12px;
}
.lvimg_1{
    width: 761px;
    height: 276px;
}
.lvimg_ul{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    /*border: 1px solid #000000;*/
    left: 856px;
    top: 7px;
}
.lvimg_ul li{
    width: 109px;
    height: 68px;
    /*border: 1px solid #000000;*/
}
.lvimg_ul li:hover{
    background: url("../images/lvyouimg_bg.png");
}
.lvimg_ulimg{
    width: 98px;
    height: 56px;
    margin-left: 11px;
    margin-top: 7px;
    opacity: 0.6;
}
.lvimg_ul li:hover .lvimg_ulimg{
    opacity: 1;
}

.lvyou2{
    width: 1000px;
    height: 385px;
    margin-left: 175px;
    background: #ffffff;
    background-image: url("../images/lvyou2_bg.png") ;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.lvyou2_more1{
    position: absolute;
    left: 458px;
    top:80px;
}
.lvyou2_more2{
    position: absolute;
    left: 950px;
    top:80px;
}
.lvyou2_content1{
    width: 475px;
    height: 232px;
    background: #ecffe9;
    position: absolute;
    border: 1px solid #bbcdb7;
    left: 19px;
    top: 110px;
}
.lvyou2_content2{
    width: 475px;
    height: 232px;
    background: #ecffe9;
    position: absolute;
    border: 1px solid #bbcdb7;
    left: 504px;
    top: 110px;
}
.lvyou2_img{
    width: 158px;
    height: 106px;
    border: 2px solid #ffffff;
    position: absolute;
    left: 6px;
    top: 7px;
}
.lvyou2_text{
    width: 300px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    left: 175px;
    top: 5px;
    line-height: 20px;
}
.lvyou2_text a{
    color: #ff0000;
}
.lvyou2ul{
    margin: 0;
    padding: 0;
    width: 475px;
    height: 106px;
    border-top:1px dotted #c0c0c0;
    position: absolute;
    left: 0;
    top: 132px;
    list-style: none;
}
.lvyou2ul li{
    float: left;
    width: 150px;
    height: 32px;
    line-height: 30px;
    margin-left: 5px;
}
/*互动交流*/
.hdjl{
    width: 1000px;
    height: 333px;
    margin-left: 175px;
    background: #ffffff;
    position: relative;
}
.hdjl1{
    width: 229px;
    height: 150px;
    border: 1px solid #B4B4B4;
    position: absolute;
    left: 5px;
    top:5px;
}
.hdjl_titlebg{
    height: 19px;
    border: 1px solid white;
    background: url("../images/hdjl_bg.png");
    line-height: 18px;
}
.hdjl_titletext{
    font-size: 12px;
    font-weight: bold;
    padding:5px 20px;
}
.hdjl1_ul{
    font-size: 12px;
    border-top: 1px solid #B4B4B4;
    /*height: 150px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.hdjl1_ul li{
    margin-left: 5px;
    margin-top: 5px;
    height: 20px;
}
.hdjl2{
    width: 229px;
    height: 150px;
    border: 1px solid #B4B4B4;
    position: absolute;
    left: 5px;
    top:160px;
}
.hdjl3{
    width: 755px;
    height: 150px;
    border: 1px solid #B4B4B4;
    position: absolute;
    left: 240px;
    top:5px;
}
.hdjl3_ul{
    font-size: 12px;
    border-top: 1px solid #B4B4B4;
    /*height: 150px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.hdjl3_ul li{
    width: 92px;
    height: 110px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
}
.hdjl3_ulimg{
    border:1px solid #B4B4B4;;
}
.hdjl4{
    width: 755px;
    height: 150px;
    border: 1px solid #B4B4B4;
    position: absolute;
    left: 240px;
    top:160px;
}
.hdjl4_ul{
    font-size: 12px;
    border-top: 1px solid #B4B4B4;
    /*height: 150px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.hdjl4_ul li{
    width: 84px;
    height: 110px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    _margin-left: 25px;
}
.hdjl4_ulimg{
    /*border:1px solid #B4B4B4;;*/
}

/*政务公开*/
.zw{
    width: 1000px;
    height: 1260px;
    background: #ffffff;
   margin-left: 175px;
}
.zwleft{
    width: 242px;
    height: 1230px;
    /*border: 1px solid #000000;*/
    margin-left: 1px;
    position: relative;
    top:1px;
    float: left;
}
.zw_xxgkltiltle{
     width: 242px;
    height: 27px;
    background-image: url("../images/zw_bg1.jpg");
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
}
.zw_xxgkl{
    width:240px;
    border: 1px solid #e8936a;
    background: #fff2e3;
    margin-top: 1px;
}
.zw_xxgklul{
    margin: 0;
    padding: 0;
    /*border: 1px solid #ac956c;*/
    list-style: none;
}
.zw_xxgklul li{
    width: 185px;
    height: 23px;
    background: url("../images/zw_bg2.png");
    text-align: center;
    border: 1px solid #ac956c;
    margin-top: 10px;
    margin-left: 27px;
    line-height: 25px;
}
.zw_xxgk{
    width:232px;
    height: 28px;
    border-top: 1px dotted #3784f5;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 10px;
    line-height: 30px;
}
.zw_gaoshititle{
    width: 242px;
    height: 27px;
    background: url("../images/zw_tzgg_title.jpg");
    margin-top: 5px;
    text-align: right;
    line-height: 25px;
}

.zw_gaoshi{
    width: 240px;
    height: 275px;
    border: 1px solid #e8936a;
    background: #fff2e2;
    border-top: none;
    position: relative;
    top:-5px;
}
.zw_gaoshiul{
    padding: 0;
    margin: 0;
    list-style-image: url("../images/list_yellow.gif");
    margin-left: 30px;
}
.zw_gaoshiul li{
    width: 210px;
    line-height: 20px;
    margin-top: 5px;
}

.zw_gb{
    width: 240px;
    /*height: 300px;*/
    border: 1px solid #e8936a;
    background: #fff2e3;
}
.zw_gb_title{
    width: 240px;
    height: 29px;
    background: url("../images/zw_bg3.jpg");
    position: relative;
}
.zw_gb_title1{
    font-weight: bold;
    position: absolute;
    left: 33px;
    top: 8px;
}
.zw_gb_title2{
    position: absolute;
    left: 200px;
    top: 8px;
}
.zw_gbul{
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 10px;
    /*margin-left: 15px;*/
}
.zw_gbul li{
    width: 242px;
    margin-top: 9px;
    /*line-height: 20px;*/
    /*margin-top: 5px;*/
}
.zw_fl{
    width: 240px;
    /*height: 300px;*/
    border: 1px solid #e8936a;
    background: #fff2e3;
    margin-top: 5px;
}

.zw_right{
    width: 745px;
    height: 1230px;
    /*border: 1px solid #000000;*/
    float: left;
    margin-left: 8px;
    margin-top: 1px;
    _margin-left: 2px;
    position: relative;
}
.zw_zwyw{
    width: 410px;
    height: 266px;
    /*border: 1px solid #000000;*/
    position: absolute;
    top:0px;
    left: 335px;
}
.zw_zwywtitle{
    width: 410px;
    height: 26px;
    background: #dadada;
    margin: 0;
    padding: 0;
list-style: none;
    margin-top: 6px;
}
.zw_zwywtitle li{
 float: left;
    width: 101px;
    height: 32px;
    text-align: center;
    margin-left: 5px;
    margin-right: -15px;
    /*border: 1px solid #000000;*/
    margin-top: -6px;
    line-height: 35px;
}
.zw_zwywtitle li:hover{
    background: url("../images/zw_bg4.jpg");
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.zw_zwywul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.zw_zwywul li{
    width: 394px;
    position: relative;
    margin-top: 10px;
}
.zw_zwywul li a{
font-size: 14px;
}
.zw_zwywuldate{
    position: absolute;
    right: 0;
    font-size: 12px;
    color: rgb(153, 153, 153);;
}
.zw_zwywmore a{
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.zw_xwfb{
    width: 743px;
    height: 126px;
    position: relative;
    background-color: #fef2e4;
    border: 1px solid #f9b572;
    margin-top: 5px;
}
.zw_xwfbtitle{
    /*border: 1px solid #000000;*/
    position: relative;
    top:-10px;
}
.zw_xwfbul{
    margin: 0;
    padding: 0;
    margin-left: 30px;
    list-style: none;
    list-style-image: url("../images/list_yellow.gif");
}
.zw_xwfbul li{
    float: left;
    width: 347px;
    line-height: 20px;
    margin-top: 8px;
    margin-left: 5px;
}
.zw_xwfbmore{
    position: absolute;
    bottom: 2px;
    right: 5px;
}
.zw_zf_fa{
    width: 744px;
    height: 185px;
    position: relative;
    /*border: 1px solid #343434;*/
    margin-top: 5px;
}
.zw_zfwj{
    width: 368px;
    border: 1px solid #f9b572;
}
.zw_zfwj2{
    width: 368px;
    height: 175px;
    border: 1px solid #f9b572;
}
.zw_zfwjtitle{
width: 368px;
    height: 51px;
    background: url("../images/zw_bg5.png");
    position: relative;
    border-bottom: 2px solid #fae1ac;
}
.zw_zfwjtitle_text1{
    position: absolute;
    left: 29px;
    top: 20px;
}
.zw_zfwjtitle_text2{
    position: absolute;
    right: 20px;
    top: 8px;
    line-height: 20px;
}
.zw_zfwjul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 7px;
}
.zw_zfwjul li{
    width: 350px;
    margin-top: 8px;
    margin-bottom:8px;
}
.zw_fzgh{
    width: 368px;
    float: right;
    border: 1px solid #f9b572;
    position: absolute;
    top: 0;
    left: 375px;
}
.zw_fzgh2{
    width: 368px;
    height: 175px;
    float: right;
    border: 1px solid #f9b572;
    position: absolute;
    top: 0;
    left: 375px;
}
.zw_fzghtitle{
    width: 368px;
    height: 51px;
    background: url("../images/zw_bg5.png");
    position: relative;
    border-bottom: 2px solid #d2d2d2;
}
.zw_fzghtitle_text2{
    position: absolute;
    right: 20px;
    top: 17px;
    line-height: 20px;
}

.zw_zttj{
    width: 743px;
    height: 74px;
    border: 1px solid #8dcd78;
    position: relative;
}
.zw_zttj_ulimg{
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:7px;
    left: 41px;
}
.zw_zttj_ulimg li{
    float: left;
    margin-left: 6px;
}
.zw_cwhytitle{
    width: 368px;
    height: 51px;
    background: url("../images/zw_bg5.png");
    position: relative;
}
/*投资广西*/
.tzgx{
    width: 1000px;
    height: 1118px;
    /*_height: 1280px;*/
    background: #ffffff;
    margin-left: 175px;
}
.tzgx_left{
    width: 704px;
    height: 1088px;
    /*border: 1px solid #000000;*/
    position: relative;
    left: 10px;
    top: 19px;
    float: left;
}
.tzgx_dt{
    width: 686px;
    height: 243px;
    /*border: 1px solid #000000;*/
}
.tzgx_dtimg{
    width: 300px;
    height: 223px;
    border: 1px solid #7c7c7c;
    position: relative;
}
.dtscrollimg{
    width: 300px;
    height: 223px;
}
.dtscrollimg_num{
    list-style: none;
    width: 125px;
    height: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 180px;
    top: 211px;
    color: white;
}
.dtscrollimg_num li{
    width: 23px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    float: left;
    font-size: 10px;
    border-left: 1px solid #d0d0d0;
    background: rgba(86, 86, 86, 0.25);
    font-weight: bold;
}
.dtscrollimg_num li:hover{
    background: #c20000;
}

.dtscrollimg_text{
    height: 20px;
    width: 323px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    left: 2px;
    top:226px;
}
.tzgx_dt_content{
    width: 358px;
    height: 223px;
    position: absolute;
    /*border: 1px solid #000000;*/
    left: 325px;
    top: 11px;
}
.tzgx_dtul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tzgx_dtul li{
   margin-bottom: 8px;
}
/*投资环境*/
.tzgx_hj{
    width: 701px;
    height: 353px;
    border: 1px solid #e0c16d;
    margin-top: 18px;
    position: relative;
    /*margin-left: 10px;*/
}
.tzgx_title{
    width: 699px;
    height: 39px;
    margin-left: 1px;
    margin-top: 1px;
    background: url("../images/tzgx2.jpg");
}
.tzgx_hj_img{
    width: 250px;
    height: 210px;
    margin-top: 5px;
    margin-left: 5px;
}
.tzgx_hj_text1{
    width: 273px;
    height: 83px;
    position: absolute;
    line-height: 20px;
    left: 5px;
    top: 265px;
}
.tzgx_hj_texttitle{
    font-size: 14px;
    color: #BE3C00;
    font-weight: bold;
}
.tzgx_hj_xx{
    color: #ff0000;
}
.tzgx_hj_text2{
    width: 191px;
    height: 112px;
    position: absolute;
    line-height: 20px;
    left: 294px;
    top: 64px;
}
.tzgx_hj_text3{
    width: 191px;
    height: 112px;
    position: absolute;
    line-height: 20px;
    left: 500px;
    top: 64px;
}
.tzgx_hj_text4{
    width: 191px;
    height: 112px;
    position: absolute;
    line-height: 20px;
    left: 294px;
    top: 206px;
}
.tzgx_hj_text5{
     width: 191px;
     height: 112px;
     position: absolute;
     line-height: 20px;
     left: 500px;
     top: 206px;
 }

.tzgx_zs{
    width: 703px;
    height: 412px;
    /*border: 1px solid #000000;*/
    margin-top: 45px;
    position: relative;
}
.tzgx_zs_content1{
    width: 263px;
    height: 218px;
    border: 1px solid #e0c16d;
}
.tzgx_zs_title{
    height: 32px;
    width: 263px;
    background: url("../images/tzgxbg1.png");
}
.tzgx_zs_ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tzgx_zs_ul li{
    width: 80px;
    float: left;
    margin-left: 30px;
    margin-top: 8px;
}
.tzgx_zs_img1{
    width: 264px;
    height: 85px;
    margin-top: 5px;
}
.tzgx_zs_img{

}
.tzgx_qyt{
    width: 426px;
    height: 401px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 0;
    left: 276px;
}
.tzgx_qytul{
    width: 426px;
    height: 38px;
    background: url("../images/qyt_titlebg.jpg");
    margin: 0;
    padding: 0;
    list-style: none;
}
.tzgx_qytul li{
    float: left;
    width: 145px;
    height: 38px;
    margin-right: -10px;
    text-align: center;
    line-height: 35px;
}
.tzgx_qytul li:hover{
    background: url("../images/qyt_title.jpg");
    color: #ffffff;
    font-weight: bold;
}
.qytimg{
    width: 425px;
    height: 357px;
}

.tzgx_right{
    width: 268px;
    height: 1086px;
    /*border: 1px solid #000000;*/
    position: relative;
    left: 20px;
    top: 19px;
    float: left;
}
.tzgx_zsxm{
    width: 267px;
    height: 440px;
    border: 1px solid #e0c16d;
}
.tzgx_zsxm_title{
    height: 32px;
    width: 267px;
    background: url("../images/tzgxbg1.png");
    position: relative;
}
.morearrow{
    position: absolute;
    right: 0;
    top:0;
}
.tzgx_zsxmul1{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tzgx_zsxmul1 li{
    width: 245px;
    margin-top: 9px;
    margin-left: 8px;
    line-height: 16px;
    overflow: hidden;
}
.tzgx_date{
    color: #ccaeae;;
}
.tzgx_fzimg{
    margin-top: 10px;
    margin-left: 1px;
}

.tzgx_qyhz{
    width: 267px;
    height: 523px;
    border: 1px solid #e0c16d;
}
.tzgx_qyhzul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tzgx_qyhzul li{
    width: 248px;
    height: 23px;
    margin-left: 8px;
    /*line-height: 16px;*/
    overflow: hidden;
}